{% extends 'authenticate/base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card">
        <h3 class="card-header">This is the authentication app for those who thrive for control.</h3>
        <div class="card-body">
            <h5 class="card-title">
                I created this authentication system for those coders who want to have
                more control on their code and not just drown into the ugly inbuilt
                automated things.
            </h5>
            <p class="card-text">
                Play with this app, its all yours. Customize things, add things, break things
                and most importantly learn things.
            </p>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">{{ user.first_name }} {{ user.last_name }}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Username</h5>
                    <p class="card-text">{{ user.username }}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Email</h5>
                    <p class="card-text">{{ user.email }}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
